user_uuid="7d9791a5-71c7-4bd3-b3f1-36f61b0f4425"
bucket_name="5szm8yul0myaf4eatdwcltcyh7dijhs0"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"